@charset "UTF-8";

/* Змінні кольори, зображення та теми */

:root {
  --body-bg: var(--body-color);
  --ribbon: none;
  --deck-scale: 0.6;
  --de3k-scale: 0.7;
  --font-rules: 0.775rem;
  --rules-scroll: 0;
  --move-card-left: none;
  --bbm: none;
  --box-bdblur: blur(5.5px);
  --box-tm: 0;
  --l1: 0; 
  --l2: 0; 
}
[data-theme="dark"] {
  --body-color: hsla(220, 29%, 28%, 1);
  --page-color: hsla(204, 94%, 7%, 1);
  --top-border: hsla(203, 82%, 20%, 1);
  --header-filter: none;
  --burger: hsla(48, 100%, 52%, 1);
}
[data-theme="light"] {
  --page-color: hsla(218, 17%, 62%, 1);
  --top-border: hsla(182, 43%, 76%, 0.35);
  --header-filter: none;
  --burger: hsla(34, 100%, 50%, 0.97);
}
[data-deck=basic] {
  --cards-img: url("https://rawcdn.githack.com/VernyStar/Duren-Card-Game/ad55c9da34092102a94632ff9dbb243b374af409/images/cards.svg.png");
  --cards-bg-size: 1523% 427.7%;
  --card-back: var(--cards-img);
  --card-back-bg-size: var(--cards-bg-size);
  --card-back-bg-position: -1527.95px -8.9px;
  --cards-border-radius: 9.25px;
}
[data-deck=english-cards] {
  --cards-img: url("../images/deck/bicycle/english.svg.png");
  --cards-bg-size: 1425% 427.7%;
  --card-back: url("../images/deck/bicycle/bicyclebacks.jpg");
  --card-back-bg-size: 202.5% 102.5%;
  --card-back-bg-position: left 90%;
  --cards-border-radius: 9.25px;
}

/* Атрибути */

[hidden] {
  position: fixed !important;
  visibility: hidden;
}
[data-select] {
  border-left: 4px solid #ffcd0b !important;
  opacity: 25%;
}
[data-reduce] * {
  animation: none !important;
  transition: none !important;
  scroll-behavior: auto !important;
}

/* Користувацькі переваги */

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* Базові */

*,
*::before,
*::after {
  box-sizing: border-box;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font: normal normal normal 15px/1.2 "Philosopher", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-size-adjust: 100%;
  user-select: none;
}
body {
  background: var(--body-bg);
  background-size: 100% 100%;
  background-blend-mode: var(--bbm);
  color-scheme: dark;
  box-shadow: 1px 1px 45px 9px #000000 inset;
}

/* Головний шаблон сторінки */

.page {
  position: absolute;
  display: grid;
  background: var(--page-color);
  grid-template-columns: 1fr;
  grid-template-rows: 7.75% 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "box";
  width: 100%;
  height: 100%;
}
.page #patternId {
  position: absolute;
  opacity: 0.35;
}

/* Хедер та елементи (будуть уточнення) */

.page .header {
  display: flex;
  grid-area: header;
  filter: var(--header-filter);
  backdrop-filter: blur(15px);
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem 0.35rem;
}
.page .header.active {
  backdrop-filter: none;
}

/* Бургер-іконка */

.page .header .burger {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}
.page .header .burger #icon {
  cursor: pointer;
  margin-bottom: 0.2rem;
  padding: 0;
  scale: 1.9;
  transform: translate3d(0, 0, 0);
}
.page .header .burger path {
  fill: none;
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: var(--burger);
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}
.page .header .burger #top,
.page .header .burger #bottom {
  stroke-dasharray: 240px 950px;
}
.page .header .burger #middle {
  stroke-dasharray: 240px 240px;
}
.page .header .burger.active #top,
.page .header .burger.active #bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.page .header .burger.active #middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

/* Логотип та іконка зміни теми */

.page .header .logo {
  position: relative;
  padding-right: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.75rem;
  align-items: center;
  align-self: center;
}
.page .header .logo #theme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .header .logo #theme svg {
  opacity: 0.75;
  z-index: 1;
}
.page .header .logo img {
  height: 3.5rem;
  position: relative;
  display: block;
}

/* Вікно показу поточного ходу */

.page .header .turn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page .header .turn p {
  color: var(--turn);
  font-size: 1.05rem;
  font-family: "Comfortaa";
  font-weight: bold;
  padding-left: 4px;
  padding-top: 10px;
}

/* Бокове меню */

.page .menu {
  position: fixed;
  width: 65%;
  height: 100%;
  left: -65%;
  background: #0d1117;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.75rem;
  transition: all 0.3s ease-in-out;
}
.page .menu.active {
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.page .menu .value {
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  gap: 10px;
  cursor: pointer;
}
.page .menu .value:not(:active):hover,
.value:focus {
  background-color: #21262c;
}
.page .menu .value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}
.page .menu .value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  opacity: 0;
}
.page .menu .value:focus::before,
.value:active::before {
  opacity: 1;
}
.page .menu .value svg {
  width: 15px
}
.page .menu .value .menu-svg {
  display: flex;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
}

/* Оверлей */

.page .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1;
}
.page .overlay.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

/* Сторінка основного контенту */

.page .box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  grid-area: box;
  backdrop-filter: var(--box-bdblur);
  border-top: 2px solid var(--top-border);
  margin-top: var(--box-tm);
}
.page .box .pane {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.page .box .pane.active {
  visibility: visible;
}

/* Блок з логотипом конкретної гри */

.page .box .pane .logo-box {
  position: fixed;
  top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 115px;
}
.page .box .pane .logo-box .logo-text {
  scale: 0.5;
  font-size: 66px;
  margin-top: 1.05rem;
  color: #f25d3f;
  font-family: "Ruslan Display", cursive;
  text-shadow: 0px 0px 0 rgb(225, 76, 46),
    1px 1px 0 rgb(209, 60, 30),
    2px 2px 0 rgb(192, 43, 13),
    3px 3px 0 rgb(175, 26, 0),
    4px 4px 3px rgba(232, 255, 79, 0.39),
    4px 4px 1px rgba(232, 255, 79, 0.5),
    0px 0px 3px rgba(232, 255, 79, .2);
  z-index: 1;
}
.page .box .pane .logo-box img {
  position: absolute;
  display: block;
}
.page .box .pane .logo-box img:first-of-type {
  width: 354px;
}
.page .box .pane .logo-box img:nth-of-type(2) {
  width: 98px;
  top: -15%;
}
.page .box .pane .logo-box img:last-of-type {
  width: 59px;
  bottom: 20%;
}

/* Меню головної сторінки */

.page .box .pane .btn-menu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 100%;
  top: 20rem;
  text-align: center;
  gap: 0.75rem;
}
.page .box .pane .btn-menu li button {
  position: relative;
  background: var(--ribbon) center center no-repeat;
  background-size: 100% 100%;
  width: 75%;
  height: 50px;
  color: hsla(50, 100%, 50%, 0.9);
  font-size: 1.35rem;
  font-weight: bolder;
  text-shadow: 0 1px 1px #000;
  font-family: inherit;
  padding-bottom: 6px;
  filter: contrast(0.85);
  scale: 0.8;
}

/* Інформація про копірайт */

.page .menu .author {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: hsla(77, 82%, 39%, 1);
}

/* Сторінка налаштувань (будуть уточнення) */

.page .box #settings {
  position: absolute;
  width: 100%;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
}
.page .box #settings .settings-block {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
}
.page .box #settings .settings-block.active {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}
.page .box #settings .settings-block:nth-child(n + 3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page .box #settings .settings-block .soon {
  font-size: 1.75rem;
  color: #FFC700;
  font-family: "Comfortaa";
  padding-bottom: 7rem;
  font-weight: bolder;
}

/* Навігація сторінки налаштувань */

.page .box #settings .settings-navs {
  position: relative;
  display: flex;
  width: 100%;
  height: 2.75rem;
}
.page .box #settings .settings-navs button {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: calc(100% / 3);
  border-right: 4px double var(--top-border);
  border-bottom: 2px solid var(--top-border);
  font-family: "Philosopher";
  font-weight: bolder;
  font-size: 0.9rem;
  color: hsla(360, 0%, 77%, 0.37);
  resize: none;
}
.page .box #settings .settings-navs button.active {
  backdrop-filter: blur(25px);
  color: rgba(255, 185, 0, 1);
  background-color: hsla(235, 51%, 9%, 1);
  font-size: 1.1rem;
  -webkit-text-stroke: 0.375px #937135;
}
.page .box #settings .settings-navs button:last-child {
  border-right: none;
}

/* Вибір аватару */

.page .box #settings .avatar {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  margin: 0.5rem 0;
}
.page .box #settings .avatar .acc-foto {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.page .box #settings .avatar #foto {
  position: relative;
  width: 5.9rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--top-border);
  border-radius: 100%;
  padding: 0.5rem;
}
.page .box #settings .avatar #foto img {
  position: relative;
  height: 92.5%;
  display: block;
  backdrop-filter: blur(5px);
  border-radius: 100%;
}
.page .box #settings .avatar .acc-foto span {
  font-size: 1rem;
  font-family: "Comfortaa";
  color: hsla(43, 100%, 50%, 1);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1rem;
}
.page .box #settings .avatar .acc-foto input {
  color: transparent;
}

/* Блок інших налаштувань (будуть уточнення) */

.page .box #settings .settings-block.active .settings-options {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 1rem;
  padding-inline: 1rem;
  width: 100%;
  justify-content: space-around;
}
.page .box #settings .settings-options li {
  width: calc(100% - 2rem);
  height: 4rem;
}
.page .box #settings .settings-options li:nth-child(-n + 2) {
  width: calc(100% / 2 - 2rem);
}

/* Блок імені/нікнейму та віку */

.page .box #settings .settings-options li .acc-name {
  position: relative;
  padding: 1rem 0 0;
  margin-top: 1rem;
}
.page .box #settings .settings-options li .acc-name .textbox {
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 2px 0 0.5rem;
  transition: border-color 0.3s;
}
.page .box #settings .settings-options li .acc-name .textbox::placeholder {
  color: transparent;
}
.page .box #settings .settings-options li .acc-name .textbox:placeholder-shown ~ .textbox-lable {
  font-size: 15px;
  cursor: text;
  top: 19px;
}
.page .box #settings .settings-options li .acc-name .textbox-lable {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 14px;
  color: #9b9b9b;
}
.page .box #settings .settings-options li .acc-name .textbox:focus {
  border-width: 2px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.page .box #settings .settings-options li .acc-name .textbox:focus ~ .textbox-lable {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 14px;
  color: #11998e;
  font-weight: 700;
}

/* Підблок з налаштуваннями, що регулюються прапорцями (звук, анімації тощо) */

.page .box #settings .settings-options .box-options {
  position: relative;
  width: 95%;
  margin: 0.75rem 0 0.75rem 5%;
}
.page .box #settings .settings-options .box-options li .option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: hsla(0, 0%, 61%, 1);
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}
.page .box #settings .settings-options .box-options li .option:last-child {
  margin-bottom: 0.5rem;
}
.page .box #settings .settings-options .box-options li .option .toggler {
  position: absolute;
  right: 1.5rem;
  --s: 20px;
  height: calc(var(--s) + var(--s)/5);
  width: 3rem;
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/1.5);
  margin-right: 0;
  margin-left: calc(var(--s)/0.65);
  display: grid;
  cursor: pointer;
  background-color: #ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  appearance: none;
  scale: 0.75;
}
.page .box #settings .settings-options .box-options li .option .toggler:before {
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
  background: var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
    #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
}
.page .box #settings .settings-options .box-options li .option .toggler:checked {
  background-color: hsla(115, 100%, 74%, 1);
}
.page .box #settings .settings-options .box-options li .option .toggler:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i: 1;
}

/* Поле з вибором розміру карт */

.page .box #settings .settings-options li #cardsize {
  display: flex;
  align-items: center;
}

/* Поле з вибором сорочки карт */

.page .box #settings .settings-options .suit {
  width: 100%;
  margin-top: 1.25rem;
}
.page .box #settings .settings-options .suit #suit {
  margin-inline: auto;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-options {
  display: none;
  flex-flow: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 5px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-header.dynamic-select-header-active + .dynamic-select-options {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-options .dynamic-select-option {
  width: calc(100% / 2);
}
.page .box #settings .settings-options .suit #suit .dynamic-select-header .dynamic-select-option-text {
  color: hsla(40, 100%, 50%, 1);
  font-family: "Orbitron";
  font-weight: bolder;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-header span {
  font-size: 1.5rem;
  text-align: center;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-option .dynamic-select-option-text {
  text-align: left !important;
  color: #999595;
  writing-mode: vertical-rl;
}
.page .box #settings .settings-options .suit #suit .dynamic-select-options .dynamic-select-option:hover {
  background-color: transparent;
  filter: contrast(140%)
}

/* Сторінка з правилами */

.page .box #rules {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.page .box #rules .rules-card {
  position: relative;
  max-width: 95%;
  max-height: 82.5%;
  padding: 1rem;
  padding-right: 1.25rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-right: 0.5rem;
}
.page .box #rules .rules-card .title {
  font-weight: 600;
  color: rgb(31 41 55);
  font-size: calc(var(--font-rules) + 0.225rem);
}
.page .box #rules .rules-card .description {
  position: relative;
  height: 85%;
  margin-top: 1rem;
  font-size: var(--font-rules);
  line-height: 1.25rem;
  color: hsla(215, 14%, 34%, 1);
  overflow-y: scroll;
  padding-right: 4px;
}
.page .box #rules .rules-card .description::-webkit-scrollbar {
  width: var(--rules-scroll);
}
.page .box #rules .rules-card .description::-webkit-scrollbar-track {
  background: hsla(220, 11%, 95%, 1);
  border-radius: 4px;
}
.page .box #rules .rules-card .description::-webkit-scrollbar-thumb {
  background: hsla(124, 77%, 34%, 1);
  border-radius: 4px;
}
.page .box #rules .rules-card .description::-webkit-scrollbar-thumb:hover {
  background: hsla(206, 5%, 71%, 1);
}
.page .box #rules .rules-card .description a {
  --tw-text-opacity: 1;
  color: hsla(217, 91%, 60%, 1);
}
.page .box #rules .rules-card .description a:hover {
  text-decoration-line: underline;
}
.page .box #rules .rules-card .actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}
.page .box #rules .rules-card .actions .pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55);
  text-decoration-line: underline;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}
.page .box #rules .rules-card .actions .pref:hover {
  color: hsla(218, 11%, 65%, 1);
}
.page .box #rules .rules-card .actions .pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.page .box #rules .rules-card .actions .accept-rules {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: hsla(221, 39%, 11%, 1);
  font-weight: 500;
  border-radius: 0.5rem;
  color: hsla(0, 0%, 100%, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}
.page .box #rules .rules-card .actions .accept-rules:hover {
  background-color: hsla(217, 19%, 27%, 1);
}
.page .box #rules .rules-card .actions .accept-rules:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Сторінка ігрового поля (будуть уточнення) */

.page .box .DurakSV {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1.75fr 2.5fr 0.5fr 1.75fr 0.75fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top" "opponent" "stil" "middle" "player" "bottom";
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 0.35rem;
}

/* Блоки з ім'ям, аваторкою та віком опонента та гравця */

.page .box .DurakSV .top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .box .DurakSV .bottom {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .box .DurakSV .top .enemy, 
.page .box .DurakSV .bottom .user {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-inline: 0.75rem;
}
.page .box .DurakSV .top .enemy img, 
.page .box .DurakSV .bottom .user img {
  display: block;
  position: relative;
  height: 3.75rem;
  width: 3.75rem;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  border-radius: 100%;
  filter: brightness(110%);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  padding: 7px;
  border: 1px solid var(--top-border);
}
.page .box .DurakSV .top .enemy span, 
.page .box .DurakSV .bottom .user span {
  position: absolute;
  font-size: 1rem;
  color: mintcream;
  font-weight: bolder;
  font-family: "Marck Script";
  right: 1rem;
}
.page .box .DurakSV .username,
.page .box .DurakSV .middle .new-game {
  position: relative;
  font-size: 1.1rem;
  font-family: "Comfortaa";
  font-weight: bold;
  color: hsla(44, 100%, 50%, 1);
  padding-left: 1rem;
  text-shadow: 1px 1px 1px hsla(353, 96%, 22%, 1);
}

/* Столи опонента та гравця */

.page .box .pane.DurakSV .opponent {
  grid-area: opponent;
  scale: 0.9;
  margin-top: -1.75rem;
}
.page .box .pane.DurakSV .player {
  grid-area: player;
}
.page .box .pane.DurakSV .opponent {
  scale: var(--deck-scale);
}
.page .box .pane.DurakSV .player {
  scale: var(--de3k-scale);
}

/* Головний стіл (будуть уточнення) */

.page .box .DurakSV .table {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: stil;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 0px 1.4fr;
  grid-template-columns: 0.6fr 1.4fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "deck main";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Блок з колодою */

.page .box .DurakSV .deck {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: deck;
  border-top-right-radius: 9.25px;
  border-bottom-right-radius: 9.25px;
  border-bottom-left-radius: 6.25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.page .box .DurakSV .table .deck.active {
  position: absolute;
  left: 37%;
  top: 42.5%;
  transition: transform 1s ease-in-out;
}
.page .box .DurakSV .deck .back:last-child {
  -webkit-box-shadow: 2px 2px 5px hsla(0, 0%, 4%, 0.15);
          box-shadow: 2px 2px 5px hsla(0, 0%, 4%, 0.15);
}

/* Блок з гральним столом */

.page .box .DurakSV .table .main {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: main;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.page .box .DurakSV .table .main .Attack, 
.page .box .DurakSV .table .main .Defend {
  position: absolute;
  width: 90%;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  right: 0;
}
.page .box .DurakSV .table .main .Attack {
  z-index: 0;
}
.Attack .card,
.Defend .card {
  scale: 0.5 !important;
}
.page .box .DurakSV .table .main .Defend {
  z-index: 1;
}
.page .box .DurakSV .table .main .Attack .card {
  transform: rotate(-10deg) !important;
  position: relative;
}
.page .box .DurakSV .table .main .Defend .card {
  transform: rotate(10deg) !important;
  position: relative;
}
.page .box .DurakSV .table .main .Attack .card:first-child,
.page .box .DurakSV .table .main .Defend .card:first-child {
  margin-left: 0;
}
.page .box .DurakSV .table .main .Attack .card:nth-child(n+1),
.page .box .DurakSV .table .main .Defend .card:nth-child(n+1) {
  margin-left: -2.25rem;
}
.page .box .DurakSV .table .main .Attack .card:nth-child(n + 4),
.page .box .DurakSV .table .main .Defend .card:nth-child(n + 4) {
  margin-top: -2.5rem;
}
.page .box .DurakSV .table .main .Attack .card:nth-of-type(5), 
.page .box .DurakSV .table .main .Defend .card:nth-of-type(5) {
  left: var(--l1) !important;
}
.page .box .DurakSV .table .main .Attack .card:nth-of-type(6), 
.page .box .DurakSV .table .main .Defend .card:nth-of-type(6) {
  left: var(--l2) !important;
}

/* Серединний блок */

.page .box .DurakSV .middle {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  margin-top: -3rem;
  padding-left: 0.25rem;
  grid-area: middle;
  display: flex;
  text-align: center;
  align-items: center;
}
.page .box .DurakSV .middle .new-game {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px hsla(10, 100%, 51%, 1);
  margin-inline: auto;
  animation: fade-in 0.35s ease-in-out both;
  z-index: 1;
}

/* Ігрові кнопки, карти та поле з феєрверком */

button.Take,
button.Pass,
button.Stop {
  position: absolute;
  bottom: 27.5%;
  left: calc(100% - 100px);
  border: 2.5px solid var(--top-border);
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  scale: 0.7;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #eae8e8;
  font-family: "Comfortaa";
  font-size: 11.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          z-index: 999;
}
button.Take svg,
button.Pass svg,
button.Stop {
  margin-left: 3px
}
button.ToMenu {
  position: relative;
  margin-top: 2px;
  margin-right: 0.75rem;
  z-index: 1001;
}
button.Restart {
  position: absolute;
  align-self: center;
  font-size: 2rem;
  color: #FFC400;
  text-shadow: 1px 1px 1px hsla(10, 100%, 51%, 1);
  top: var(--restart);
  left: calc(50% - 87.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Marck Script";
  gap: 0.35rem;
  z-index: 1001;
}
#fireworks {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: hsla(0, 0%, 0%, 1);
  z-index: 1;
}
.card {
  position: absolute;
  width: 108px;
  height: 162px;
  border-radius: var(--cards-border-radius);
  background: var(--cards-img) no-repeat;
  background-size: var(--cards-bg-size);
}
.back {
  position: absolute;
  width: 108px;
  height: 162px;
  background: var(--card-back);
  background-size: var(--card-back-bg-size);
  background-repeat: no-repeat;
  background-position: var(--card-back-bg-position);
  border-radius: var(--cards-border-radius);
}
.face {
  display: none;
}
.deck .card {
  scale: 0.575;
}
.deck.active .card {
  scale: 0.7;
}

/* Показ поточного козиру та козиря опонента */

.kozir-now {
  position: fixed;
  left: 1.75rem;
  top: 57.5%;
  color: hsla(42, 100%, 50%, 1);
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-animation: kozir 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: kozir 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
[trump] {
  left: 5%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) !important;
  -webkit-transition: -webkit-transform 0.5s ease-out;
          transition: -webkit-transform 0.5s ease-out;
               -o-transition: transform 0.5s ease-out;
                  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  z-index: -1 !important;
}
[min-trump] {
  background: var(--cards-img) no-repeat;
  background-size: var(--cards-bg-size);
  border-radius: var(--cards-border-radius);
   -webkit-animation: min-trump 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: min-trump 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes kozir {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes kozir {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes min-trump {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            translate: 0 0;
  }
  25% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            translate: 0 -35px;
  }
  80% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            translate: 0 -35px;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            translate: 0 0;
  }
}
@keyframes min-trump {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            translate: 0 0;
  }
  25% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            translate: 0 -35px;
  }
  80% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            translate: 0 -35px;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
            translate: 0 0;
  }
}

/* Карти французького типу */

[data-deck="basic"] .ace-hearts {
  background-position: -8.875px -8.9px;
}
[data-deck="basic"] .six-hearts {
  background-position: -593.15px -8.9px;
}
[data-deck="basic"] .seven-hearts {
  background-position: -710px -8.9px;
}
[data-deck="basic"] .eight-hearts {
  background-position: -826.85px -8.9px;
}
[data-deck="basic"] .nine-hearts {
  background-position: -943.7px -8.9px;
}
[data-deck="basic"] .ten-hearts {
  background-position: -1060.55px -8.9px;
}
[data-deck="basic"] .jack-hearts {
  background-position: -1177.4px -8.9px;
}
[data-deck="basic"] .queen-hearts {
  background-position: -1294.25px -8.9px;
}
[data-deck="basic"] .king-hearts {
  background-position: -1411.1px -8.9px;
}
[data-deck="basic"] .ace-diamonds {
  background-position: -8.875px -179.85px;
}
[data-deck="basic"] .six-diamonds {
  background-position: -593.15px -179.85px;
}
[data-deck="basic"] .seven-diamonds {
  background-position: -710px -179.85px;
}
[data-deck="basic"] .eight-diamonds {
  background-position: -826.85px -179.85px;
}
[data-deck="basic"] .nine-diamonds {
  background-position: -943.7px -179.85px;
}
[data-deck="basic"] .ten-diamonds {
  background-position: -1060.55px -179.85px;
}
[data-deck="basic"] .jack-diamonds {
  background-position: -1177.4px -179.85px;
}
[data-deck="basic"] .queen-diamonds {
  background-position: -1294.25px -179.85px;
}
[data-deck="basic"] .king-diamonds {
  background-position: -1411.1px -179.85px;
}
[data-deck="basic"] .ace-clubs {
  background-position: -8.875px -350.8px;
}
[data-deck="basic"] .six-clubs {
  background-position: -593.15px -350.8px;
}
[data-deck="basic"] .seven-clubs {
  background-position: -710px -350.8px;
}
[data-deck="basic"] .eight-clubs {
  background-position: -826.85px -350.8px;
}
[data-deck="basic"] .nine-clubs {
  background-position: -943.7px -350.8px;
}
[data-deck="basic"] .ten-clubs {
  background-position: -1060.55px -350.8px;
}
[data-deck="basic"] .jack-clubs {
  background-position: -1177.4px -350.8px;
}
[data-deck="basic"] .queen-clubs {
  background-position: -1294.25px -350.8px;
}
[data-deck="basic"] .king-clubs {
  background-position: -1411.1px -350.8px;
}
[data-deck="basic"] .ace-spades {
  background-position: -8.875px -521.75px;
}
[data-deck="basic"] .six-spades {
  background-position: -593.15px -521.75px;
}
[data-deck="basic"] .seven-spades {
  background-position: -710px -521.75px;
}
[data-deck="basic"] .eight-spades {
  background-position: -826.85px -521.75px;
}
[data-deck="basic"] .nine-spades {
  background-position: -943.7px -521.75px;
}
[data-deck="basic"] .ten-spades {
  background-position: -1060.55px -521.75px;
}
[data-deck="basic"] .jack-spades {
  background-position: -1177.4px -521.75px;
}
[data-deck="basic"] .queen-spades {
  background-position: -1294.25px -521.75px;
}
[data-deck="basic"] .king-spades {
  background-position: -1411.1px -521.75px;
}

/* Карти англійського типу */

[data-deck="english-cards"] .six-spades {
background-position: -598.15px -9.2px;
}
[data-deck="english-cards"] .seven-spades {
  background-position: -715px -9.2px;
}
[data-deck="english-cards"] .eight-spades {
  background-position: -834.6px -9.2px;
}
[data-deck="english-cards"] .nine-spades {
  background-position: -951.45px -9.2px;
}
[data-deck="english-cards"] .ten-spades {
  background-position: -1068.3px -9.2px;
}
[data-deck="english-cards"] .jack-spades {
  background-position: -1185.15px -9.2px;
}
[data-deck="english-cards"] .queen-spades {
  background-position: -1302px -9.2px;
}
[data-deck="english-cards"] .king-spades {
  background-position: -1421px -9.2px;
}
[data-deck="english-cards"] .ace-hearts {
  background-position: -13.875px -179.85px;
}
[data-deck="english-cards"] .six-hearts {
  background-position: -598.15px -179.85px;
}
[data-deck="english-cards"] .seven-hearts {
  background-position: -715px -179.85px;
}
[data-deck="english-cards"] .eight-hearts {
  background-position: -834.6px -179.85px;
}
[data-deck="english-cards"] .nine-hearts {
  background-position: -951.45px -179.85px;
}
[data-deck="english-cards"] .ten-hearts {
  background-position: -1068.3px -179.85px;
}
[data-deck="english-cards"] .jack-hearts {
  background-position: -1185.15px -179.85px;
}
[data-deck="english-cards"] .queen-hearts {
  background-position: -1302px -179.85px;
}
[data-deck="english-cards"] .king-hearts {
  background-position: -1421px -179.85px;
}
[data-deck="english-cards"] .ace-diamonds {
  background-position: -13.875px -350.8px;
}
[data-deck="english-cards"] .six-diamonds {
  background-position: -598.15px -350.8px;
}
[data-deck="english-cards"] .seven-diamonds {
  background-position: -715px -350.8px;
}
[data-deck="english-cards"] .eight-diamonds {
  background-position: -834.6px -350.8px;
}
[data-deck="english-cards"] .nine-diamonds {
  background-position: -951.45px -350.8px;
}
[data-deck="english-cards"] .ten-diamonds {
  background-position: -1068.3px -350.8px;
}
[data-deck="english-cards"] .jack-diamonds {
  background-position: -1185.15px -350.8px;
}
[data-deck="english-cards"] .queen-diamonds {
  background-position: -1302px -350.8px;
}
[data-deck="english-cards"] .king-diamonds {
  background-position: -1421px -350.8px;
}
[data-deck="english-cards"] .ace-clubs {
  background-position: -13.875px -521.75px;
}
[data-deck="english-cards"] .six-clubs {
  background-position: -598.15px -521.75px;
}
[data-deck="english-cards"] .seven-clubs {
  background-position: -715px -521.75px;
}
[data-deck="english-cards"] .eight-clubs {
  background-position: -834.6px -521.75px;
}
[data-deck="english-cards"] .nine-clubs {
  background-position: -951.45px -521.75px;
}
[data-deck="english-cards"] .ten-clubs {
  background-position: -1068.3px -521.75px;
}
[data-deck="english-cards"] .jack-clubs {
  background-position: -1185.15px -521.75px;
}
[data-deck="english-cards"] .queen-clubs {
  background-position: -1302px -521.75px;
}
[data-deck="english-cards"] .king-clubs {
  background-position: -1421px -521.75px;
}

.fade-in {
    animation: fade-in 0.35s ease-in-out both;
}
[anim0] {
  -webkit-animation: flip-card 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: flip-card 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
[anim1] {
  -webkit-animation: flip-card2 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: flip-card2 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
    scale: -1 1;
}
@-webkit-keyframes flip-card {
  0% {
            translate: var(--move-card-left) -243px;
            opacity: 0;
  }
  60% {
            translate: 0 0;
            opacity: 1;
  }
  100% {
            translate: 0 0;
  }
}
@keyframes flip-card {
  0% {
            translate: var(--move-card-left) -243px;
            opacity: 0;
  }
  60% {
            translate: 0 0;
            opacity: 1;
  }
  100% {
            translate: 0 0;
  }
}
@-webkit-keyframes flip-card2 {
  0% {
    translate: var(--move-card-left) 243px;
    opacity: 0;
  }
  60% {
    translate: 0 0;
    opacity: 1;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes flip-card2 {
  0% {
    translate: var(--move-card-left) 243px;
    opacity: 0;
  }
  60% {
    translate: 0 0;
    opacity: 1;
  }
  100% {
    translate: 0 0;
  }
}

